.chatbot__container {
    position: fixed;
    display: none;
    right: 60px;
    bottom: 160px;
    width: 300px;
    height: 50%;
    min-height: 300px;
    max-height: 500px;
    background-color: gray;
    border-radius: 10px;
    color: white;
    animation: fade-out 1s;
    animation-fill-mode: forwards;

    @keyframes fade-out {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .chatbot__header {
        background-color: black;
        width: 100%;    
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px 10px 0 0;

        .logo {
            height: 25px;
        }

        .qbot {
            padding-top: 7px;
            font-size: 18px;
        }
    }

    .message__container {
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: relative;

        .message {
            display: flex;
            align-items: center;
            color: black;
            font-size: 15px;
            padding: 3px;
            word-break: break-all;

            &.bot {
                margin-right: 24px;
                text-align: left;
                align-self: flex-start;
            }

            &.user {
                margin-left: 30px;
                text-align: right;
                align-self: flex-end;
            }

            p {
                color: #f2613f
            }

            span {
                border-radius: 5px;
                padding: 5px;
                background-color: white;
            }
        }
    }

    .message__container::-webkit-scrollbar {
        display: none;
    }

    .options__container {
        width:50%;
        background-color: #cccccc;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        align-items: flex-end;
        gap: 5px;
        position: absolute;
        right: 0; // 메시지 컨테이너의 오른쪽에 배치
        bottom: 40px; // 메시지 컨테이너의 하단에 배치

        .option {
            font-size: 13px;
            width: 120px;
            height: 25px;
            padding: 6px;
            background-color: white;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }
        .option__btn {
            cursor: pointer;
        }
    }


    .chatbot__footer {
        background-color: black;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0 0 10px 10px;

        #chatInput {
            border-radius: 5px;
            width: 200px;
        }

        .inputButton {
            margin-top: 5px;
        }

    }
}

.chatbot__container.operate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fade-in 1s;
    animation-fill-mode: forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}