.loginForm__container {
    background-color: black;
    width:80%; height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}