.noticeSidebar__container {
    color: white;
    margin-right: 10%;
    width: 20%;

    .noticeSidebar__box {
        top: 100px;
        width: 100%;
        position: sticky;
        padding-top: 30%;
        margin-bottom: 100px;

        .noticeSidebar__category {
            color: rgba(255, 255, 255, 0.6);
        }
        
        .noticeSidebar__label {
            label {
                font-weight: bold;
                font-size: 17px;
                margin-left: 10px;
            }
        }

        .noticeSidebar__post {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 13px;
            cursor: pointer;
        }

        hr {
            text-align: left;
            margin-left: 0;
            width: 100%;
            background-color: #F2613F;
            height: 2px;
            border: none;
            margin-bottom: 5%;
        }
    }
}