.concertEditor__container{
    margin-bottom: 10px;
    width: 800px;
    color: black;
    .quill{
        background-color: white;
        width: 98%;
        *{
            color: black;
        }
        .ql-container {
            height: 600px;
          
        }
    }
    .byteCheck{
        margin-top: 10px;
        width: 97%;
        color: white;
        display: flex;
        justify-content: end;
    }
}