.concertEditor__container{
    margin-bottom: 10px;
    width: 700px;
    color: black;
    .quill{
        background-color: white;
        width: 98%;
        *{
            color: black;
        }
        .ql-container {
            height: 700px;
        }
    }
}