

.socialSignUpDiv {
    width: 60%;
    .btn-kakaoLogin{
        color:black;
        background-color: #ffd400;
        width:90%; height:50px;
        font-size:25px; font-weight:bold;
        border-radius: 15px;
    }
    .btn-googleLogin{
        color:black;
        background-color: white;
        width:90%; height:50px;
        font-size:25px; font-weight:bold;
        border-radius: 15px;
    }
}
