.adminfunding__container{
    margin-top: 100px;
    text-align : center;
    color :azure;

    .adminfunding__optionsearch{
        text-align : right;
        
    }
    .adminfunding__table{
        width: 100%;
        border-radius: 10px;
    }

}