
.artist_box{
    margin: 0% 3% 0% 3%;
    .artist__picture{
        
        img{
            
            border-radius: 100px;
            width: 100px;
            height: 100px;
        }
    }
    .artist__name{
        color: white;
        
    }
}


.clickOn{
    cursor: pointer;
}