.board__concert__list{
    margin-top: 70px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:50px;
    grid-gap:50px;
    
 
    
    .concert__item{
        width: 350px;
        height: 450px;
        cursor: pointer;
        background-color: #242424c4;
        a{
            
            text-decoration: none;
            color: white;
            img{
                
                height: 300px;
                width: 100%;
            }
            .concert__title{
                text-align: center;
                font-weight: bolder;
                font-size: 20px;
            }
            .concert__date{
                text-align: center; 
                font-weight: 100;
                font-size: 15px;
            }
            .concert__location{
                text-align: center;
                font-weight: 100;
                font-size: 15px;
            }
        }
    }


}