.boardWrite__container {
    margin: 10%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.63);
    color: white;
    padding: 3%;
    display: flex;
    justify-content: center;

    .boardWrite__box {
        width: 90%;

        label {
            font-size: 25px;
        }

        select {
            margin-top: 7%;
            height: 40px;
            width: 120px;
            background: #444444;
            box-shadow: 0px 4px 17.8px rgba(0, 0, 0, 0);
            border-radius: 7px;
            color: #CECECE;
            font-size: 17px;
            border: none;
        }

        input {
            margin-top: 2%;
            margin-bottom: 2%;
            height: 50px;
            width: 99%;
            font-size: 20px;
            background-color: #CCCCCC;
            box-shadow: inset 0px 0px 10.7px #F2613F;
            border-radius: 9px;
        }
    
        .quill {
            background-color: white;
            width: 100%;
            color: black;
    
            .ql-container {
                height: 500px;
            }
        }

        .boardWrite__items {
            display: flex;
            justify-content: space-between;

            button {
                margin-top: 2%;
                height: 40px;
                width: 120px;
                font-size: 15px;

                filter: drop-shadow(0px 4px 17.8px rgba(242, 97, 63, 0.25));

                background-color: #444444;
                border: 0.3px solid #404040;
                border-radius: 7px;

                cursor: pointer;
            }
        }
    }

}