.fundItemDetail__title {
    margin-top: 5%;
    color: white;
    width: 100%;

    h1 {
        font-size: 40px;
    }

    h4 {
        margin: 0;
        margin-bottom: 5px;
        color: rgba(187, 187, 187, 1);
    }

    h2 {
        margin: 0;
    }

    .fundItemDetail__title__item1 {
        display: flex;
        justify-content: space-between;

        .fundItemDetail__title__content {
            h2:not(#not__shadow) {
                font-size: 35px;
                text-shadow: 0px 0px 15px #F2613F;
            }

            h2 {
                font-size: 35px;
            }

            h4 {
                font-size: 20px;
            }

            width: 400px;

            .fundItemDetail__title__price {
                margin-bottom: 15px;
                display: flex;
                align-items: end;
                transition: 0.2s;

                h4 {
                    margin: 0;
                    width: 100%;
                    text-align: end;
                    color: rgba(227, 101, 29, 1);
                }

                div {
                    font-size: 25px;
                    padding-left: 8px;
                    padding-bottom: 3px;
                }
            }

            .fundItem__goalBar {
                width: 100%;
                height: 3%;
                background: linear-gradient(90deg, #E3651D 69.5%, #FFFFFF 69.5%);
                border-radius: 5px;
                margin-bottom: 5%;
            }
        }
    }

    .fundItemDetail__title__item2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fundItemDetail__title__schedule {
            width: 60%;
            margin-top: 2%;
            margin-bottom: 2%;

            .fundItemDetail__title__schedule__item {
                margin-bottom: 5px;

                h2,
                h4 {
                    margin: 0;
                }

                h2 {
                    padding-left: 15px;
                }

                display: flex;
                align-items: center;
            }
        }

        .fundItemDetail__title__btn {
            width: 400px;
            display: flex;

            svg {
                color: rgba(0, 0, 0, 0.6);
            }

            div {
                margin: 2%;
                height: 40px;
                width: 100%;
                background: rgba(205, 205, 205, 1);
                border-radius: 7px;
                box-shadow: 0px 4px 17.8px rgba(0, 0, 0, 0);
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(0, 0, 0, 0.6);

                span {
                    margin-left: 10%;
                }
            }
        }
    }
}

.fundItemDetail__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1150px;
    height: 100%;
    padding-bottom: 5%;

    #fundInfo {
        scroll-margin: 60px;
    }
}

.fundItemDetail__content {
    width: 100%;
    display: flex;

    .fundItemDetail__content__items {
        background-color: rgba(255, 255, 255, 0.534);
        width: 700px;

        .fundItemDetail__content__item {
            h3 {
                padding-left: 3%;
                color: rgba(104, 104, 104, 0.651);
            }

            hr {
                width: 95%;
                background-color: rgba(197, 197, 197, 0.651);
                height: 1px;
                border: 0;
            }

            .item__content {
                min-height: 100vh;
                padding-left: 4%;
                padding-right: 4%;
                img{
                    max-width: 100%;
                }
            }
        }
    }

    .fundItemDetail__reward {
        position: sticky;
        height: 0;
        top: 20%;
        margin-left: 59px;
        width: 400px;

        .fundItemDetail__reward__item {
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 7px;
            padding: 2%;
            margin-bottom: 3%;

            .reward__option__item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    color: rgba(255, 255, 255, 0.42);
                    margin-left: 3%;
                    margin-right: 2%;
                    cursor: pointer;
                    transition: 0.2s;
                }

                svg:hover {
                    color: rgba(255, 255, 255, 0.651);
                }

                .reward__option__item__content {
                    margin: 1%;

                    .reward__title {
                        color: white;
                    }

                    .reward__price {
                        color: rgba(187, 187, 187, 1);
                    }

                    .reward__info {
                        color: rgba(187, 187, 187, 1);
                        margin: 3%;
                        font-size: small;
                    }

                    background-color: rgba(36, 36, 36, 1);
                    border-radius: 4px;

                    width: 100%;

                    .reward__option__item__header {
                        margin: 3%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    .reward__option__item__amount {
        background-color: rgba(36, 36, 36, 1);
        height: 40px;
        width: 50px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        color: white;
        font-weight: 100;

        input {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            text-align: center;
            color: white;
            font-size: 15px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .slash {
        color: white;
        margin: 2%;
        font-size: 20px;
    }

    .reward__select__box {
        display: flex;
        flex-direction: column;
        align-items: end;
        color: white;

        h5,
        h4,
        h3 {
            margin: 0;
            font-weight: 400;
        }

        h5 {
            margin-top: 1%;
            font-weight: 100;
            font-size: 10px;
        }

        .reward__select__price {
            margin-top: 1%;
            display: flex;
            justify-content: end;
            align-items: end;

            * {
                margin-left: 1%;
            }

            width: 100%;
        }

        .reward__select__btn {
            margin-top: 1%;
            padding-top: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30px;
            border-radius: 4px;
            background-color: rgba(242, 97, 63, 1);
            cursor: pointer;
            transition: 0.2s;
        }
        .reward__select__btn:hover{
            background-color: rgb(241, 115, 87);
        }
    }
}