.fundItemDetail__box{
    background-color: rgba(174, 174, 174, 0.63);
    width: 60%;
    margin: 0 auto;
    .fundItemDetail__item{
        padding-top: 60px;
    }
    #fundInfo{
        height: 1000px;
    }
    #artistInfo{
        height: 1000px;
    }
    #budget{
        height: 1000px;
    }
    #schedule{
        height: 1000px;
    }
    
}