
.loginForm__box {
    width: 70%;
    h2 { color:white; font-style:bold; }

    .loginForm__items {
        position: relative;
        .inputId, .inputPwd {
            width:60%; height: 30px; 
            background-color: #cccccc;        
            border-radius: 10px;
            padding-left:35px;
        }
        .idIcon, .pwdIcon {
            position: absolute;
            width: 23px;
            height: 23px;
            opacity: 0.2;
            margin-left: 5px;
            margin-top: 5.5px;
        }
    }
    .loginForm__link {
        display: flex;
        justify-content: space-evenly;
        .btn-login, .btn-signup {
            color:#cecece;
            font-size:20px;
            font-weight: bold;
            background-color: #444444;
            border-radius: 10px;
            width:20%; height: 40px;
        }
    }
    a {
        color:white;
        font-size:20px;
        font-weight: bold;
        text-decoration-line: none;
    }
}