    .signUpForm__items {
        width: 70%;
        position: relative;

        .inputId,
        .inputPwd {
            width: 60%;
            height: 30px;
            background-color: #cccccc;
            border-radius: 10px;
            padding-left: 35px;
        }

        .idIcon,
        .pwdIcon {
            position: relative;
            left: 7%;
            width: 28px;
            height: 28px;
            opacity: 0.2;
            top: 8px;
        }
    }

    button {
        background-color: #444444;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        font-weight: bold;
        width: 110px;
        height: 30px;
    }