    .signUpForm__items {
        width: 70%;
        position: relative;

        .idIcon,
        .pwdIcon {
            position: absolute;
            width: 23px;
            height: 23px;
            opacity: 0.2;
            margin-left: 5px;
            margin-top: 5.5px;
        }
        .inputId.good, .inputPwd.good {
            border: 2px solid greenyellow;
        }
        .inputId.bad, .inputPwd.bad {
            border: 2px solid red;
        }
    }

    button {
        background-color: #444444;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        font-weight: bold;
        width: 110px;
        height: 30px;
    }