.fundItem__container {
    width: 300px;
    height: 400px;
    background-color: rgba(36, 36, 36, 1);
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    .fundItem__hover{
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0);
        width: 100%;
        height: 40%;
        border-radius: 4px 4px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 40%;
        border-radius: 4px 4px 0 0;
    }

    .fundItem__category {
        margin: 8px;
        font-size: 10px;
        font-weight: 100;
    }

    .fundItem__title {
        margin: 8px;
        margin-top: 8px;
        font-size: 25px;
        font-weight: 500;
    }

    .fundItem__content {
        margin: 8px;
        font-weight: 100;
    }

    .fundItem__info {
        * {
            margin: 0;
        }

        display: flex;
        margin: 8px;
        margin-bottom: 0;
        justify-content: space-between;
        div{
            display: flex;
            justify-content: space-between;
            :first-child {
                color: rgba(242, 97, 63, 1);
                font-weight: 700;
            }
            :nth-child(2) {
                width: 8px;
            }
            :last-child {
                font-weight: 700;
            }
        }
        :last-child {
            font-weight: 700;
            text-shadow: 0px 0px 18.8px #F2613F;
        }
    }
    .fundItem__rate{
        background: white;
        height: 3%;
        margin: 0% 2% 4% 2%;
        border-radius: 3px;
    }
}
.fundItem__container:hover{
    .fundItem__hover{
        background-color: rgba(0, 0, 0, 0.575);
        color: rgb(255, 255, 255);
    }
}