.reply__container{
        color: white;
        margin-top: 5%;
    .reply__count{
      
    }
    .reply__text{
        border-radius: 5px;
        margin-top: 5%;
        padding: 2%;
        width: 95%;
        background-color: #242424;
        table{
            vertical-align: middle;
            width: 100%;
            td{
                font-size: 15px;
                .pointer{
                    cursor: pointer;  
                }
            }
            .title{
                border-right: 2px solid;
                width: 60px;
            }
            
            .report{
                cursor: pointer;
                text-align: right;
            }
           
        }
    }
        
}