.myPage__container {
    background-color: black;
    width:75%; height:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top : 70px;
    padding-top: 20px;
}

.myPage__box {
    width:100%;
    display:grid;
}