.coloBoard__container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;

    color: white;
    .coloBoard__box{
        background-color: rgba(12, 12, 12, 0.63);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        .coloBoard__area {
            width: 60%;
            height: 100%;
            .coloBoard__items {
                width: 100%;
            }
        }
    }
}