.concertDetail__container{
    margin-top: 13%;
    padding-bottom: 60px;
    .concertDetail__top{
       display: flex;
       justify-content: space-around;
       margin:0% 5% 0% 5%;
        .concertDetail__title{
            color: white;
            font-size: 30px
        }
        .btn{
            margin-top: 4%;
            background: #E3651D;
            border-radius: 7px;
            width: 120px;
            height: 40px;
            box-shadow: 0px 4px 17.8px rgba(0, 0, 0, 0);
            display: flex;
            align-items: center;
            transition-duration: 0.2s;
        }
        a{
            text-decoration: none;
                background-color: rgba(0, 0, 0, 0);
                border-color: rgba(0, 0, 0, 0);
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                color: #CECECE;
                width: 100%;
                padding-top: 3px;
        }
        .btn:hover{
            box-shadow: 0px 0px 13.6px rgba(201, 196, 195, 0.25);
            transition-duration: 0.2s;
        }  
    }
    .concertDetail__itemBox{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        .concertDetail__item{
            display: flex;
            justify-content:space-around;
            
            background-color: rgba(12, 12, 12, 0.63);
            width: 1200px;
            height: 600px;
            border-radius: 5px;
            .concertDetail__poster{
                width:600px;
                height:100%;
                img{
                    width:600px;
                    height:100%;
                    border-radius: 7px 0px 0px 7px;
                }
            }
            .concertDetail__content{
                color: white;
                width: 600px;
                height: 100%;
                line-height: 230%;
                text-align: center;
                
                ul{
                    list-style-type: none;
                    font-weight: normal;
                    
                    .concertInfo{
                        font-size: 20px;
                        color: #999;
                    }
                   
                }
                
                .ticketlink{
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                }
                .btn{      
                    background: #E3651D;
                    border-radius: 7px;
                    width: 100px;
                    height: 30px;
                    box-shadow: 0px 4px 17.8px rgba(0, 0, 0, 0);
                    display: flex;
                    align-items: center;
                    transition-duration: 0.2s;
                    a{
                        text-decoration: none;
                            background-color: rgba(0, 0, 0, 0);
                            border-color: rgba(0, 0, 0, 0);
                            font-size: 15px;
                            font-weight: 400;
                            text-align: center;
                            color: #CECECE;
                            width: 100%;
                            padding-top: 3px;
                    }
                }
                .btn:hover{
                    box-shadow: 0px 0px 13.6px rgba(201, 196, 195, 0.25);
                    transition-duration: 0.2s;
                }
            } 
        }
    }
    .concert__lineupTilte{
        display: flex;
        justify-content: space-between;
        margin:3% 15% 2% 15%;
        h2{
            color: white;
            
        }
        .btn__area {
           
    
            width: 200px;
            display: flex;
    
    
            svg {
                color: rgba(0, 0, 0, 0.6);
            }
    
            div {
                margin: 2%;
                height: 40px;
                width: 100%;
                background: rgba(205, 205, 205, 1);
                border-radius: 7px;
                box-shadow: 0px 4px 17.8px rgba(0, 0, 0, 0);
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(0, 0, 0, 0.6);
                cursor: pointer;
    
                .btn1 {
                    margin-left: 10%;
                }
    
            }
        }
    }
   
        
   .concert__content__top{
        margin-top: 5% ;
        color: white;
        font-size: 20px;
        padding-left: 20%;
        span{
            margin: 0% 0% 0% 5%;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            width: 100px;
            font-size: 25px;
        }
        .state__on{
            border-bottom: 2px solid #E3651D;
        }
   }
   .detail__content{
        display: flex;
        justify-content: center;
        .detail__content__item{
            width: 100%;
        }
   }
}