.board__concert__list{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 8%;
    margin-right: 8%;
    
    .concert__item{
        width: 350px;
        height: 450px;
        cursor: pointer;
        background-color: #242424c4;
        a{
            
            text-decoration: none;
            color: white;
            img{
                margin :0px 35px 0px 35px ;
                height: 300px;
                width: 280px;
            }
            .concert__title{
                text-align: center;
                font-weight: bolder;
                font-size: 20px;
            }
            .concert__date{
                text-align: center;  
                font-weight: 100;
                font-size: 15px;
            }
            .concert__location{
                text-align: center;
                font-weight: 100;
                font-size: 15px;
            }
        }
    }


}