    .signUpForm__items {
        width: 70%;
        position: relative;

        .inputId,
        .inputPwd,
        .certPwd,
        .inputName,
        .inputPhone {
            width: 60%;
            height: 30px;
            background-color: #cccccc;
            border-radius: 10px;
            padding-left: 35px;
        }

        .certNum {
            width: 40%;
            height: 30px;
            background-color: #cccccc;
            border-radius: 10px;
            padding-left: 35px;
            margin-right: 2%;
        }

        .certPwd.good, .certNum.good {
            border: 2px solid greenyellow;
        }
        .certPwd.bad, .certNum.bad {
            border: 2px solid red;
        }

        .btn-cert {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width : 18%;
            height: 40px;
        }
        .btn-suf2 {
            margin: 0 20px;

        }
    }

    button {
        background-color: #444444;
        color: white;
        font-size: 17px;
        border-radius: 10px;
        font-weight: bold;
        width: 110px;
        height: 30px;
    }