    .signUpForm__items {
        width: 70%;
        position: relative;

        .inputId,
        .inputPwd,
        .checkPwd,
        .inputName,
        .inputPhone {
            width: 60%;
            height: 30px;
            background-color: #cccccc;
            border-radius: 10px;
            padding-left: 35px;
            font-family: 'Inter';
        }
        div 
        {
            width:60%; display: flex;
            justify-content: center;
            .certNum {
                width: 50%;
                height: 30px;
                background-color: #cccccc;
                border-radius: 10px;
                padding-left: 35px;
                font-family: 'Inter';
                margin-right: 20px;
            }
        }

        .idIcon,
        .pwdIcon {
            position: absolute;
            left: 10%;
            /* 원하는 위치 조정 */
            width: 5%;
            height: 5%;
            opacity: 0.25;
        }
    }

    button {
        background-color: #444444;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        font-weight: bold;
        font-family: 'Inter';
        width: 110px;
        height: 30px;
    }