.boardSidebar__container {
    color: white;
    margin-right: 10%;
    width: 20%;
    .boardSidebar__box {
        top: 100px;
        width: 100%;
        position: sticky;
        padding-top: 30%;
        margin-bottom: 100px;
        .boardSidebar__label {
            
            label {
                font-weight: bold;
                font-size: 17px;
                margin-left: 10px;
                svg {
                    color: red;
                    vertical-align: middle;
                }
            }

            .boardSidebar__thumb {
                color: rgb(66, 133, 244);
            }

            .boardSidebar__community {
                color: rgb(52, 168, 83);
            }
        }

        .boardSidebar__category {
            color: rgba(255, 255, 255, 0.6);
        }

        .boardSidebar__post {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 13px;
        }


        hr {
            text-align: left;
            margin-left: 0;
            width: 100%;
            background-color: #F2613F;
            height: 2px;
            border: none;
            margin-bottom: 5%;
        }
        .community__list {
            margin-top: 15px;
            .community__list__item {
                display: flex;
                justify-content: space-between;
                padding-top: 5px;
                padding-bottom: 10px;
                font-size: 13px;
            }

        }
    }
}