.find__container {
    background-color: black;
    width: 60%; min-width: 800px; height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 50px;
}