.coloBar__container {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
        color: #9C9C9C;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .coloBar__bar {
        width: 80%;
        height: 40px;
        background: linear-gradient(90deg, #E3651D 60.0%, #D19E39, #BED754 70.0%);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .coloBar__bar__item {
            background-color: rgba(0, 0, 0, 0.35);
            height: 80%;
            width: 5%;
            text-align: center;
            align-content: center;
            border-radius: 5px;
            font-size: 12px;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
    .coloBar__content {
        width: 100%;
        display: flex;
        text-align: center;
        div {
            width: 100%;
            margin-top: 2%;
        }
    }
}