    .signUpForm__items {
        width: 70%;
        position: relative;
    }    

    button {
        background-color: #444444;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        font-weight: bold;
        width: 110px;
        height: 30px;
    }