.artist__item__box{
    background-color: rgba(12, 12, 12, 0.63);
    width: 400px;
    height: 250px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: auto;
    .artist__img{
        object-fit: cover;
        height:  100%;
        width: 230px;
        img{
            border-radius: 7px;
            height:  100%;
            width: 230px;            
        }
    }
    ul{
        overflow: auto;        
        list-style-type: none;
        color: white;
        line-height: 250%;
        .artist__info{
            margin-left: 3px;
        }
    }
}
.artist__item__box::-webkit-scrollbar{
    display: none;
}