.profile__img {
    grid-area: profile__img;
    position: relative;
    .showImg {
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        background-color: gray;
        border-radius: 50%;
        max-width: 250px;
        min-height: 250px;
        overflow: hidden;
        cursor: pointer;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover; 
            object-position: center; 
        }
        .profileImgInput { 
            display: block;
            opacity: 0; 
            width: 100%; height: 100%; 
            position: absolute;
            top: 0; left: 0; 
        }
    }
}

;

.profile__intro {
    grid-area: profile__intro;

    textarea {
        background-color: #cccccc;
        border-radius: 3px;
        width: 250px;
        height: 250px;
        resize: none;
        margin: 15px auto;
        padding: 15px;
        font-family: 'GmarketSans';
        font-weight: 600;
        font-size: 20px;
        overflow-y: hidden;
    }

    textarea:focus {
        overflow: auto;
        outline: none;
    }

    textarea::-webkit-scrollbar {
        display: none;
    }
}

;