.fundEnrollForm__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    h2,
    h3,
    h4,
    p {
        margin: 0;
        color: white;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 5px;
    }

    .fundEnrollForm__header {
        display: flex;
        justify-content: center;
        color: white;
    }

    .form {
        width: 95%;

        hr {
            background-color: rgba(255, 255, 255, 0.26);
            margin: 0;
            width: 100%;
            margin-top: 10px;
        }
    }

    .fundEnrollForm__item {
        margin-top: 35px;
        margin-left: 1%;
    }

    .fundEnrollForm__input {
        display: flex;
        align-items: end;

        * {
            margin-right: 7px;
        }
    }
}

.fundEnrollForm__img {
    display: flex;

    .fundEnrollForm__img__input {
        position: relative;
        margin-right: 10px;
        background: rgba(89, 89, 89, 0.4);
        border: 2px dashed #ffffff98;
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: fill;
            height: 100%;
        }

        .delete__icon {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .delete__background {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                transition: 0.2s;
            }

            svg {
                color: rgba(255, 255, 255, 0.534);
                transition: 0.2s;
                z-index: 5;
            }
        }

        .delete__icon:hover {
            .delete__background {
                background-color: rgba(0, 0, 0, 0.541);
            }

            svg {
                color: rgba(255, 255, 255, 0.74);
            }
        }

        svg {
            color: rgba(255, 255, 255, 0.17);
        }

    }

    .fundEnrollForm__img__input:hover {
        background: rgba(145, 145, 145, 0.4);
    }
}

.fundEnrollForm__reward {
    color: white;
    margin-right: 5%;
    margin-bottom: 20px;

    p {
        margin: 0;
    }

    .fundEnrollForm__reward__box {
        margin-top: 10px;
        display: flex;
        align-items: center;

        .fundEnrollForm__reward__item {
            display: flex;
            background-color: rgba(36, 36, 36, 1);
            height: 50px;
            width: 100%;
            margin-right: 10px;
            align-items: center;
            justify-content: space-between;
            padding-left: 1%;
            padding-right: 1%;
            border-radius: 4px;

            p {
                color: rgba(255, 255, 255, 0.445);
            }

            :first-child {
                font-size: 15px;
            }

            :last-child {
                font-size: 20px;
                font-weight: 700;
            }
        }

        .fundEnrollForm__reward__amount {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(36, 36, 36, 1);
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.445);
            font-size: 20px;
            height: 50px;
            padding-left: 1%;
            padding-right: 1%;
            margin-left: 10px;
        }

        .fundEnrollForm__reward__icon {
            height: 100%;
            display: flex;
            margin-left: 1%;
            cursor: pointer;

            svg {
                transition: 0.2s;
            }
        }

        .fundEnrollForm__reward__icon:hover {
            svg {
                color: rgba(242, 96, 63, 0.911);
            }
        }
    }
}

.fundEnrollForm__reward__add__btn {
    background: rgba(89, 89, 89, 0.4);
    border: 2px dashed #ffffff38;
    width: 98%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: 0.2s;
    cursor: pointer;

    svg {
        color: rgba(255, 255, 255, 0.17);
    }
}

.fundEnrollForm__reward__add__btn:hover {
    background: rgba(145, 145, 145, 0.4);
}

.fundEnrollForm__reward__add__form {
    margin-left: 1%;

    hr {
        margin-bottom: 10px !important;
        width: 98% !important;
    }

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 3px;
    }

    .addform__item {
        margin-bottom: 20px;
        margin-left: 1%;

        .addform__item__price {
            p {
                margin: 0;
                margin-left: 7px;
            }

            display: flex;
            align-items: end;
        }

        .addform__item__btn__box {
            display: flex;
            align-items: center;

            .addform__item__btn__active {
                transition: 0.2s;
                display: flex;
                width: 100px;
                height: 30px;
                color: rgb(255, 255, 255);
                background-color: rgba(50, 50, 50, 1);
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(64, 64, 64, 1);
                border-radius: 4px;
                margin-right: 7px;
                cursor: pointer;
                box-shadow: 0px 0px 8.1px rgba(227, 101, 29, 0.62);
            }

            .addform__item__btn__disabled {
                transition: 0.2s;
                display: flex;
                width: 100px;
                height: 30px;
                color: rgba(0, 0, 0, 0.24);
                background-color: rgba(191, 191, 191, 0.62);
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(64, 64, 64, 1);
                border-radius: 4px;
                margin-right: 7px;
                cursor: pointer;
            }
        }
    }

    .addform__submit {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .addform__submit__btn {
            background: #727272;
            border: 0.3px solid #404040;
            border-radius: 7px;
            color: #CECECE;
            width: 150px;
            height: 40px;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.2s;
        }
        .addform__submit__btn:hover{
            box-shadow: 0px 0px 10.1px rgba(227, 101, 29, 0.62);
        }
    }

}
.fundEnrollForm__textarea{
    background-color: rgba(204, 204, 204, 1);
    border-radius: 4px;
    border: 1px solid rgb(104, 104, 104);
    height: 300px;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
    width: 95%;
    padding: 1%;
    margin: 0 auto;
    textarea{
        resize: none;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        width: 100%;
        font-size: 20px;
    }
}
.fundEnrollForm__submit{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fundEnrollForm__submit__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 220px;
        border-radius: 4px;
        background-color: rgba(242, 97, 63, 1);
        font-size: 25px;
        font-weight: 900;
        color: white;
        cursor: pointer;
        transition: 0.2s;
    }
    .fundEnrollForm__submit__btn:hover{
        background-color: rgb(240, 115, 87);
        box-shadow: 0px 0px 10.1px rgba(227, 101, 29, 0.62);
    }
}
