.adminReportManagement__container {
    width: 100%;
    .adminReportManagement__header {
        margin: 15px;
        display: flex;
        justify-content: space-between;
        .adminReportManagement__search {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
        }
        .adminReportManagement__sort {
            display: flex;
            align-items: center;
            p {
                margin: 0;
                margin-right: 10px;
            }
        }
    }
    button {
        font-size: 12px;
        font-weight: 100;
        border-radius: 3px;
        height: 20px;    
        width: 70px;
    }
    .adminReportManagement__contentType {
        cursor: pointer;
    }
}