.background__container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .background__box{
        background-color: rgba(12, 12, 12, 0.63);
        width: 1340px;
        min-width: 1240px;
        height: 100%;
        margin-top: 90px;
        margin-bottom: 40px;
    }
}